@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
  font-family: 'Josefin Sans', sans-serif;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #08071c;
}

header{
    width: 100%;
    text-align: center;
    padding-top: 20px;
    background-color: #060433;
    
    h1{
        font-size: 50px;
        color: #D9D7FA;
    }

    nav{
        width: 100%;
        padding: 50px;
        height: 12vh;
        border-bottom: 5px solid #A19ED9;

        ul{
            display: flex;
            justify-content: space-around;

            li{
                list-style-type: none;

                a{ 
                    position: relative;
                    text-decoration: none;
                    color: #726EB8;
                    font-size: 30px;
                    transition: 0.3s ease-out;
                }

                a:after {
                    content: "";
                    position: absolute;
                    background-color: #D9D7FA;
                    height: 3px;
                    width: 0;
                    left: 0;
                    bottom: -10px;
                    transition: 0.3s ease-out;
                }

                a:hover {
                    color: #D9D7FA;
                }

                a:hover:after {
                    width: 100%;
                }
            }
        }
    }
}

// FOOTER STYLING 


footer {
    position: sticky;
    margin-top: auto;
    text-align: center;
    background-color: #060433;
    border-top: 5px solid #A19ED9;

    ul{ 
        display: flex;
        justify-content: space-around;
        padding-top: 20px;
        
        li{
            list-style-type: none;

            a{
                text-decoration: none;
                color: #726EB8;
                font-size: 20px;
                transition: 0.3s ease-out;
            }

            a:hover {
                color: #D9D7FA;
            }
        }
    }

    p{
        padding: 20px;
        color: #D9D7FA;
    }
}